<h2 class = "border-bottom m-3"><%= child.name %></h2>
<h4>持っているポイント : <strong><%= child.point %> ポイント</strong></h4>
<% if child.point.to_i > reward.point.to_i %>
  <h4>交換すると<strong><%= child.point - reward.point %>ポイント</strong>になるよ</h4>
  <div class = "m-3">
    <%= link_to "本当に交換する？", confirm_path, remote: true, method: :post, class: "btn btn-danger" %>
  </div>
<% else %>
  <h4><strong>ポイントが足りないよ</strong></h4>
<% end %>