<h3>持っているポイント : <%= child.point %> ポイント</h3>
<h3>交換すると<strong><%= child.point - reward.point %></strong>になるよ</h3>
<%= link_to "本当に交換する？", update_child_point_reward_path(reward, child_id: child.id), remote: true, method: :get, class: "btn btn-primary" %>