<div class="modal-body">
  <h4><%= child.name %>のいまのポイント : <b><span class="text-green"><%= child.point %></span> ポイント</b></h4>
  <% if child.point.to_i >= reward.point.to_i %>
    <h4><ruby>交換<rt>こうかん</rt></ruby>すると <b><span class="text-green"><%= child.point - reward.point %></span>ポイント</b> になるよ</h4>
    <div class = "m-3">
      <%= link_to complete_path(reward, child_id: child.id), method: :post, class: "btn btn-danger p-2" do %>
        <ruby>交換<rt>こうかん</rt>する</ruby>
      <% end %>
    </div>
  <% else %>
    <h4 class="text-red"><b>ポイントがたりないよ</b></h4>
  <% end %>
</div>
