<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1 class= "title">交換完了！！</h1>
      <p>交換したよ！これからもお手伝い頑張ってね</p>
        <% new_point = @child.point - @reward.point %>
        <% @child.update(point: new_point) %>
        <h2><%= @child.name%></h2>
        <p><%= new_point%></p>
    </div>
  </div>
</div>