<div class="container mt-5">
  <div class="row">
    <div class="col-10 mx-auto">
      <h1 class= "title">交換履歴</h1>
      <table class = "table", style = "color: #fff;">
        <tr>
          <th>日にち</th>
          <th>名前</th>
          <th>プレゼント名</th>
          <th>渡した日</th>
        </tr>
        <% @child_rewards.each do |child_reward| %>
          <tr>
            <th><%= child_reward.created_at %></th>
            <th><%= child_reward.child.name %></th>
            <th><%= child_reward.reward.name %></th>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
