<!-- howToUse Modal -->
<div class="modal fade" id="howToUse-modal" tabindex="-1" aria-labelledby="howToUse-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-danger" id="howToUse-modalLabel">使い方</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body how_to_use_body">
        <div class="text-center m-3">
          <h6 class="underline">初めに、以下の設定を行ってください。</h6>
        </div>
        <div>
          <h4><b>① マイページ『パーティーメンバー』</b></h4>
          <p>お子さまの情報を登録してください。</p>
        </div>
        <div>
          <h4><b>② 『クエストを作る』</b></h4>
          <p>おてつだいの種類の登録をしてください。</p>
        </div>
        <div>
          <h4><b>③ 『クエストを投稿する』</b></h4>
          <p>お子さまにしてほしいお手伝いを投稿してください。</p>
          <p><span class="text-danger font-small">※ 画像は jpeg/jpg/png のみ投稿可能です</span></p>
        </div>
        <div>
          <h4><b>④ 『プレゼントを作る』</b></h4>
          <p>目標を達成した際に贈るプレゼントを登録してください。</p>
        </div>
        <div class="text-center m-3">
          <h6 class="underline">完了したらおてつだいクエストを始めてみましょう！</h6>
        </div>
      </div>
    </div>
  </div>
</div>