<!-- howToUse Modal -->
<div class="modal fade" id="howToUse-modal" tabindex="-1" aria-labelledby="howToUse-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="howToUse-modalLabel">使いかた</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
      </div>
      <div class="modal-body">
        <h4>①マイページ『パーティーメンバー』</h4>
        <p>お子様の情報を登録してください。</p>
        <h4>②『クエストを作る』</h4>
        <p>おてつだいの種類の登録をしてください。</p>
        <h4>③『クエストを投稿する』</h4>
        <p>
          お子様にしてほしいお手伝いを投稿してください。<br>
          ※画像は jpeg/jpg/png　のみ投稿可能です
        </p>
      </div>
    </div>
  </div>
</div>