<div class="container">
  <div class="row flex-column-reverse flex-md-row">
    <div class="col-10 mt-5 mx-auto">
      <h1 class="mb-5 title"><b>メニュー</b></h1>
      <div class="row mb-5 flex-md-row">
        <div class="col-md-6">
          <%= link_to tasks_path, style: "text-decoration: none; color:#ffffff; text-align:center" do %>
            <div class="card shadow-lg" style="background-color:#f46c5c;">
              <div class="card-body">
                <h3 class="text-center mt-2"><b>クエストをえらぶ</b></h3><br>
                <p class="text-center mt-3"><i class="fa-solid fa-house-chimney fa-5x"></i></p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-6">
          <%= link_to rewards_path, style: "text-decoration: none; color:#ffffff; text-align:center" do %>
            <div class="card shadow-lg" style="background-color:#f7c453;">
              <div class="card-body">
                <h3 class="text-center mt-2"><b>プレゼントをえらぶ</b></h3><br>
                <p class="text-center mt-3"><i class="fa-solid fa-gift fa-5x"></i></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<button type="button" class="chatbot-btn" data-toggle="modal" data-target="#chat-modal">
  <i class="fas fa-robot fa-3x" data-toggle=tooltip data-placement="bottom" title="しつもんしてみよう！"></i>
</button>
<%= render 'chatbots/chatbot' %>
<div class="container">
  <div class="row mt-5">
    <%= image_tag "about.png", size: "1000x550", class: "img-fluid bg-bottom"%>
  </div>
</div>