<div class = "main-visual">
  <div class = "container">
    <div class = "row">
      <div class= "btn-wrapper col-5 mx-auto btn-area">
        <%= link_to "つづきから", new_user_session_path, :style => "text-decoration: none; color:#ffffff;", class: "btn-login btn-block mb-5"%>
        <%= link_to "あたらしくはじめる", new_user_registration_path, :style => "text-decoration: none; color:#ffffff;", class: "btn-signin btn-block" %>
      </div>
    </div>
    <div class="scroll-area">
      <div class="container">
        <div class="row">
          <div class="mx-auto col-11">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
            <span class="text">Scroll down</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="top-main">
  <div class="container">
    <div class="row">
      <div class="col-12 mx-auto mt-5">
        <div class="top-about text-white m-5">
          <p class="m-5"><strong>おてつだいクエスト</strong>とは　. . . </p>
          <h1 class="m-5 font-bordering">「おてつだいを楽しく」</h1>
          <h4>
            おてつだいをゲームのようにすることで、<br>
            子供が自主的に楽しくおてつだいをするきっかけをつくります。
          </h4>
        </div>
        <div class="text-white top-explain">
          <h4 class="box2">おてつだいをすることで、子供たちはたくさんのことを学ぶことができます</h4>
          <div class="text-right">
            <%= image_tag "astronaut2.png" %>
          </div>
          <h1 class="text-white mb-5">・・・学べること ・・・</h1>
          <div class="pros-area mb-5">
            <div class="pros1">
              <h4>1.ありがとうの<br>気持ちを学ぶ！</h4><br>
              <i class="fa-regular fa-heart fa-3x"></i>
              <p>
                お手伝いをして<br>
                「ありがとう」と言われると、<br>
                自分を認められた気持ちに
              </p>
            </div>
            <div class="pros2">
              <h4>2.できることを増やして<br>自信をつける！</h4><br>
              <i class="fa-regular fa-star fa-3x"></i>
              <p>
                少しずつできることが増えて、<br>
                自分で何かを達成したときの達成感が<br>
                自信につながります
              </p>
            </div>
            <div class="pros3">
              <h4>3.より上手にできるための<br>考え方を身につける！</h4><br>
              <i class="fa-solid fa-seedling fa-3x"></i>
              <p>
                どうやったらもっと良くできるか<br>
                考える癖がつき、<br>
                思考力が育ちます
              </p>
            </div>
            <div class="pros4">
              <h4>4.責任感を持てるように！</h4><br>
              <i class="fa-solid fa-fire fa-3x"></i>
              <p>
                家族から頼りにされることで、<br>
                自分の役割を果たそうとする<br>
                責任感が生まれます
              </p>
            </div>
            <div class="pros5">
              <h4>5.家族間の<br>コミュニケーションが増える！</h4><br>
              <i class="fa-regular fa-handshake fa-3x"></i>
              <p>
                家族とコミュニケーションが増えて、<br>
                みんながもっと仲良しに
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class=" btn-wrapper col-5 mx-auto mt-5">
        <p class="sectTit"> ためしにつかってみよう！<p>
        <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, :style => "text-decoration: none;", class: "btn-guest btn-block mb-5 text-white" %>
      </div>
    </div>
  </div>
</div>