@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');


* {
  font-family: 'Kosugi Maru', sans-serif;
}


/*============
#bg
=============*/
body {
  background-color: #0c548c;
}

.bg-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -9999;
}

.grayscaled {
  filter: grayscale(100%);
}

.bg-offwhite {
  background-color: #FFF7D8
}

.bg-orange {
  background-color: #FF8C00
}

/*============
#text-color
=============*/

.title {
  color: #f7c453;
  font-size: 45px;
  text-align: center;
}

.text-white {
  color: #fff
}

/*============
トップメニュー
=============*/

.main-visual {
  background-image: url('/assets/top1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 950px;
  width: 100%;
  margin: 0;
  z-index: 1;
  position: relative;
}

.btn-login {
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  display: inline-block;
  padding: 20px 24px;
  background-color: #61b0e2;
  box-shadow: 0 10px 0 #369ada;
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.btn-login:active {
  box-shadow: none;
  transform: translateY(5px);
}

.btn-signin {
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  display: inline-block;
  padding: 20px 24px;
  background-color: #34b496;
  box-shadow: 0 10px 0 #298c75;
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.btn-signin:active {
  box-shadow: none;
  transform: translateY(5px);
}

.btn-guest {
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  display: inline-block;
  padding: 20px 24px;
  background-color: #ffd150;
  box-shadow: 0 10px 0 #ffc41d;
  border-radius: 60px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.btn-guest:active {
  box-shadow: none;
  transform: translateY(5px);
}

.btn-area {
  margin-top: 450px;
  z-index: 2;
  position: relative;
}

.scroll-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
  left: 47%;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

.top-main {
   height: 1000px;
}

.top-main .container {
  text-align: center; /* テキストを中央揃えにする */
}


.top-main p {
  font-size: 16px; /* 任意のフォントサイズを追加 */
  line-height: 1.6; /* 任意の行の高さを追加 */
  margin-bottom: 10px; /* 任意の下部のマージンを追加 */
}


/*============
ハンバーガーメニュー
=============*/

.open #navArea nav {
  left: 0;
  opacity: 1;
}

#navArea {

nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: #fccc44;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}

nav .inner {
  padding: 25px;
}
nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}
nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}
nav .inner ul li:not(:first-child):hover {
  background: #FFFFBB;
}

@media screen and (max-width: 767px) {
  nav {
    left: -220px;
    width: 220px;
  }
}
}
/*============
.toggle_btn
=============*/
.toggle_btn {
  display: block;
  position: fixed;
  top: 30px;
  left: 30px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}
.open .toggle_btn {
  left: 330px;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle_btn span {
  background-color: #fff;
}
.open .toggle_btn {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.open .toggle_btn span:nth-child(1), .open .toggle_btn span:nth-child(3) {
  width: 16px;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translate(-1px,4px) rotate(-45deg);
  transform: translate(-1px,4px) rotate(-45deg);
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translate(-1px,-4px) rotate(45deg);
  transform: translate(-1px,-4px) rotate(45deg);
}
@media screen and (max-width: 767px) {
  .open .toggle_btn {
    left: 250px;
  }
}
/*============
#mask
=============*/
#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 10px;
  z-index: 9999;
}
.arrow{
  width: 200px;
  height: 300px;
}

/*============
#status_btn
=============*/
.custom-button {
  text-align: center;
  line-height: 150px;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 30px 30px;
  background-color: #34b496;;
  box-shadow: 0 15px 0 #298c75;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  color: #fff;
  transition: all 0.3s;
}

.custom-button:active {
  box-shadow: none;
  transform: translateY(5px);
}

.custom-button,
.custom-button:link,
.custom-button:visited {
  text-decoration: none;
  color: #fff;
}

/*============
#card
=============*/

.panel-box .panel {
  position:relative;
  overflow:hidden;
}

.panel {
  background-color: #F8F5E7;
}

.panel-box .panel::before {
  position:absolute;
  top:0;
  left:-100%;
  bottom:0;
  margin:auto 0;
  width:100px;
  height:200%;
  content:"";
  background:linear-gradient(to right, #fff, #fff 10%, transparent 10%, transparent 20%, #fff 20%, #fff 90%, transparent 90%, transparent 94%, #fff 94%);
  opacity:0.3;
  transform:translate(-50%) rotate(45deg);
  transition:left 0.6s ease-in, transform 0.6s ease-in;
}

.panel-box .panel:hover::before {
  left:150%;
  transform:translate(50%) rotate(45deg);
  transition-timing-function:ease-out, ease-out;
}

/*============
#pagination
=============*/

.pagination>li>a {
  border: none;
  color: #f7c453;
  padding: 3px;
}

.pagination>.active>a {
  background: #fff;
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
}

.pagination {
  margin: 10px;
  font-size: 20px;
  padding: 2px;
}

/*============
#astronaut
=============*/

.astronaut-container {
  position: fixed;
  bottom: 20%;
  right: 10%;
  z-index: -9999;
  animation: bound 8s infinite;

}

@keyframes bound {
  0%, 100% {
    top: 20%;
  }

  50% {
    top: 60%;
  }
}