@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import 'homes';
@import 'tasks';
@import 'rewards';
@import 'chatbots';

* {
  font-family: 'Kosugi Maru', sans-serif;
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 10px auto;
  width: 50%;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

.error_message-box {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 10px auto;
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

.btn_style {
  order-radius: 12px;
}
/*============
#bg
=============*/
body {
  background-color: #0c548c;
}

.bg-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -999;
}

.bg-bottom-center {
  bottom: 0;
  width: 50%;
  z-index: -999;
}

.bg-bottom-right {
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: -1;
}

.bg-bottom-left {
  position: fixed;
  bottom: 0;
  left: 20px;
}

.grayscaled {
  filter: grayscale(100%);
}

.bg-offwhite {
  background-color: #FFF7D8;
}

.bg-orange {
  background-color: #FF8C00;
}

.bg-green {
  background: #00FFB3;
}

/*============
#box
=============*/

.brown-box {
 position:relative;
 padding: 30px;
 margin: 2.5em auto;
 width: 90%;
 color: #555555;
 background-color: #e8ddbd;
 box-shadow: inset 0 0 40px rgba(204, 186, 136,1), 0 2px 2px #ccc;
 overflow: hidden;
}

.box2 {
  position: relative;
  padding: 20px;
  background-color: #bfe3ff;
  border-radius: 15px;
  margin-right: 130px;
  color: #7d7d7d
}

.box2::before {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #bfe3ff;
  right: -35px;
  bottom: 15px;
  width: 30px;
  height: 30px;
}

.box2::after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #bfe3ff;
  right: -55px;
  bottom: 10px;
  width: 15px;
  height: 15px;
}

.box3 {
  position: relative;
  padding: 20px;
  background-color: #bfffce;
  border-radius: 15px;
  margin-left: 180px;
  color: #7d7d7d
}

.box3::before {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #bfffce;
  left: -35px;
  bottom: 15px;
  width: 30px;
  height: 30px;
}

.box3::after {
  content: '';
  position: absolute;
  display: block;
  border-radius: 50%;
  background-color: #bfffce;
  left: -55px;
  bottom: 10px;
  width: 15px;
  height: 15px;
}
/*============
#text-color
=============*/

.title {
  color: #f7c453;
  font-size: 45px;
}

.subtitle {
  color: #f7c453;
  font-size: 35px;
  text-align: center;
}

.text-white {
  color: #fff
}

.text-red {
  color: #ff0000
}

.text-green {
  color: #0b9971;
}

.text-orange {
  color:#ff9933;
}

.font-bordering {
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  font-size: 60px;
  background: linear-gradient(transparent 80%, #ffff66 0%);
}

/*============
ハンバーガーメニュー
=============*/

.open #navArea nav {
  left: 0;
  opacity: 1;
}

#navArea {

nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: #fccc44;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}

nav .inner {
  padding: 25px;
}
nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}
nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}
nav .inner ul li:not(:first-child):hover {
  background: #FFFFBB;
}

@media screen and (max-width: 767px) {
  nav {
    left: -220px;
    width: 220px;
  }
}
}

/*============
.toggle_btn
=============*/
.toggle_btn {
  display: block;
  position: fixed;
  top: 30px;
  left: 30px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}
.open .toggle_btn {
  left: 330px;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle_btn span {
  background-color: #fff;
}
.open .toggle_btn {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.open .toggle_btn span:nth-child(1), .open .toggle_btn span:nth-child(3) {
  width: 16px;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translate(-1px,4px) rotate(-45deg);
  transform: translate(-1px,4px) rotate(-45deg);
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translate(-1px,-4px) rotate(45deg);
  transform: translate(-1px,-4px) rotate(45deg);
}
@media screen and (max-width: 767px) {
  .open .toggle_btn {
    left: 250px;
  }
}
/*============
#mask
=============*/
#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}

#back {
  position: fixed;
  right: 20px;
  bottom: 10px;
  z-index: 9999;
}
.arrow{
  width: 100px;
  height: 150px;
}

/*============
devise
=============*/
.earth {
  animation: rotate_anime 30s linear infinite;
  width: 400px;
  height: auto;
}

@keyframes rotate_anime {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*============
#card
=============*/

.menu-card1{
  background-color: #f46c5c;
}

.menu-card2{
  background-color: #f7c453;
}

.panel-box .panel {
  position:relative;
  overflow:hidden;
}

.panel {
  background-color: #F8F5E7;
}

.panel-box .panel::before {
  position:absolute;
  top:0;
  left:-100%;
  bottom:0;
  margin:auto 0;
  width:100px;
  height:200%;
  content:"";
  background:linear-gradient(to right, #fff, #fff 10%, transparent 10%, transparent 20%, #fff 20%, #fff 90%, transparent 90%, transparent 94%, #fff 94%);
  opacity:0.3;
  transform:translate(-50%) rotate(45deg);
  transition:left 0.6s ease-in, transform 0.6s ease-in;
}

.panel-box .panel:hover::before {
  left:150%;
  transform:translate(50%) rotate(45deg);
  transition-timing-function:ease-out, ease-out;
}

/*============
#pagination
=============*/

.pagination>li>a {
  border: none;
  color: #f7c453;
  padding: 15px;
}

.pagination>.active>a {
  background: #fff;
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
}

.pagination {
  margin: 0 auto;
  font-size: 20px;
  padding: 8px;
}

.sp_br {
  display: none;
}

.new-image {
  width: 200px;
  object-fit: cover;
  margin: 1rem;
}

.edit-image {
  width: 200px;
  object-fit: cover;
  margin: 1rem;
}

@media screen and (max-width: 430px) {

  body {
    font-size: 0.8em;
  }

  h1, h2, h3 {
    font-size: calc(20px + .4vw)
  }
  h4, h5 {
    font-size: calc(15px + .4vw)
  }

  .title {
    color: #f7c453;
    font-size: calc(20px + .6vw)
  }

  .subtitle {
    color: #f7c453;
    text-align: center;
    font-size: calc(15px + .6vw);
  }

  .menu-text {
    font-size: calc(10px + .6vw);
  }

  .sp_br {
    display: block;
  }

  .font-bordering {
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    font-size: 20px;
    background: linear-gradient(transparent 80%, #ffff66 0%);
  }

  .card {
      width: 100%;
      margin-bottom: 1rem;
    }

  .table {
    width: 430px;
    font-size: 80%;
  }

  .earth {
    animation: rotate_anime 30s linear infinite;
    width: 200px;
    height: auto;
  }

  .error_message-box {
    border-radius: 5px;
    padding: 16px 24px;
    margin: 10px auto;
    background-color: #ffd4d1;
    color: #930403;
    border: solid 1px #930403;
    font-size: 0.8em;
  }

  /*============
  #pagination
  =============*/

  .pagination>li>a {
    border: none;
    color: #f7c453;
    padding: 10px;
  }

  .pagination>.active>a {
    background: #fff;
    border-radius: 10px;
  }

  /*ホバー時のデザイン*/
  .pagination>li>a:hover {
    border-radius: 10px;
  }

  .pagination {
    margin: 0 auto;
    font-size: 8px;
    padding: 3px;
  }

  .arrow {
    width: 50px;
    height: 80px;
    }
  
  .new-image {
    width: 100px;
    object-fit: cover;
    margin: 1rem;
  }
  
  .edit-image {
    width: 100px;
    object-fit: cover;
    margin: 1rem;
  }
}