/*============
#画面遷移
=============*/
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 9999999;
	text-align:center;
	color:#fff;
}

#splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.game-page {
  background: #333;
  z-index: 9999999;
  height: 100vh;
}

.game-page.appear{
  background: linear-gradient(90deg, rgba(52, 59, 202, 1), rgba(162, 120, 182, 1) 50%, rgba(243, 196, 170, 1));
  opacity: 0.9;
}

/*画面遷移アニメーション*/
.splashbg1,
.splashbg2 {
  display: none;
}

/*game-pageにappearクラスがついたら出現*/
.game-page.appear .splashbg1,
.game-page.appear .splashbg2 {
	display: block;
}

/*右に消える*/
.game-page.appear .splashbg1 {
	animation-name: PageAnime;
	animation-duration: 1.2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
  content: "";
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: scaleX(1);
  background-color: #333;
}

@keyframes PageAnime{
	0% {
		transform-origin: left;
		transform: scaleX(1);
	}
	50% {
		transform-origin: right;
	}
	100% {
		transform-origin: right;
		transform: scaleX(0);
	}
}

/*左に消える*/
.game-page.appear .splashbg2 {
	animation-name: PageAnime2;
	animation-duration: 1.2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
  content: "";
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 50%;
  transform: scaleX(1);
  background-color: #333;
}

@keyframes PageAnime2 {
	0% {
		transform-origin: right;
		transform: scaleX(1);
	}

	50% {
		transform-origin: left;
	}
	100% {
		transform-origin: left;
		transform: scaleX(0);
	}
}

#container {
	opacity: 0;
}

/*game-pageにappearクラスがついたら出現*/
.game-page.appear #container {
	animation-name: PageAnimeAppear;
	animation-duration: 1s;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
  }
}

/*============
#ufo
=============*/

.ufo-img {
  transform-origin: center;
  animation: ufo 1s infinite;
}

@keyframes ufo {
  0% , 100%{
      transform: rotate(6deg);
  }
  50%{
      transform: rotate(-6deg);
  }
}

/*============
#game
=============*/
.status_box {
  background-color: #111;
  box-shadow: 0 0 0 8px #fff;
  border-radius: 10px;
}

.bg-bottom-game {
  background-size: cover;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  z-index: -100;
}

.bg-top-game {
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  z-index: -100;
}

.status_area {
  margin-top: 10%;
}

/*============
#status_btn
=============*/
.custom-button {
  text-align: center;
  line-height: 150px;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 30px 30px;
  background-color: #e3364a;
  box-shadow: 0 15px 0 #ca1c30;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  color: #fff;
  transition: all 0.3s;
}

.custom-button:active {
  box-shadow: none;
  transform: translateY(5px);
}

.custom-button,
.custom-button:link,
.custom-button:visited {
  text-decoration: none;
  color: #fff;
}

/*============
#astronaut
=============*/

.astronaut-container {
  position: fixed;
  bottom: 20%;
  right: 10%;
  animation: bound 8s infinite;
  z-index: -100;
}

@keyframes bound {
  0%, 100% {
    top: 20%;
  }

  50% {
    top: 60%;
  }
}

/*============
#alien
=============*/

.alien {
  position: fixed;
  bottom: 2%;
  left: 10%;
  z-index: 2;
  transform-origin: center bottom;
  animation: yurayura 3s linear infinite;
}

@keyframes yurayura {
  0% , 100%{
      transform: rotate(6deg);
  }
  50%{
      transform: rotate(-6deg);
  }
}