<div class="container text-white mb-3">
  <div class="row">
    <div class="col-8 mx-auto">
      <h2 class="title mt-5"><strong>クエストを追加</strong></h2>
        <%= render 'task_lists/form', task_list: @task_list %>
          <% if @task_lists.present? %>
            <h2 class="mt-5"><strong>クエストリスト一覧</strong></h2>
            <div id='task_list_index'>
              <%= render 'task_lists/index', task_lists: @task_lists %>
            </div>
          <% end %>
    </div>
  </div>
</div>
<div>
  <%= image_tag "star2.png", class: "img-fluid bg-bottom" %>
</div>
