<div class="container" style = "color: #fff;">
  <div class="row">
    <div class="col-8 mx-auto">
      <h2 class="title mt-5"><strong>お手伝いリストを追加する</strong></h2>
        <%= render 'task_lists/form', task_list: @task_list %>
    <% if @task_lists.present? %>
      <h2 class="mt-5" style="font-size:35px;"><strong>お手伝いリスト一覧</strong></h2>
      <div id='task_list_index'>
        <%= render 'task_lists/index', task_lists: @task_lists %>
      </div>
    <% end %>
      
    </div>
  </div>
</div>
